<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="ml-1 mt-2 text-center">Global Statistics</h1>
            <div class="row mt-4">
              <div class="col-lg-4">
                <div class="card bg-light mb-3">
                  <div class="card-body text-primary  rounded">
                    <h1>Total Cases</h1>
                    <h5>6258702</h5>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4">
                <div class="card bg-light mb-3">
                  <div class="card-body text-danger">
                    <h1>Total Deaths</h1>
                    <h5>379392</h5>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4">
                <div class="card bg-light mb-3">
                  <div class="card-body text-success">
                    <h1>Recovered</h1>
                    <h5>2640678</h5>
                  </div>
                  
                </div>
              </div>

            </div>
            
            
           
        </div>
        
    </div>
</div>