<div class="sidenav">
    <a routerLink="/home/main" class="m-3">
       
            
            <img src="assets/image/home.png" width="40px" class="img-l"><br>



    </a>
    <a routerLink="/home/LatestNews" class="m-3">
        <img src="assets/image/virus.png" width="40px" class="img-l"><br>

    </a>
    <a routerLink="/home/state" class="m-3">
        
        <img src="assets/image/bank.png" width="40px" class="img-l"><br>
    </a>
    <a routerLink="/home/how-to-stay-safe" class="m-3">

        <img src="assets/image/about.png" width="40px" class="img-l"><br>
    </a>
    <a class="m-3" (click) = "logout()" style="cursor: pointer;">

        <img src="assets/image/login.png" width="40px" class="img-l"><br>
    </a>


</div>
