<div class="sidenav">
    <a routerLink="/main" class="m-3">
       
            
            <img src="assets/image/home.png" width="40px" class="img-l"><br>



    </a>
    <a routerLink="/LatestNews" class="m-3">
        <img src="assets/image/virus.png" width="40px" class="img-l"><br>

    </a>
    <a routerLink="/state" class="m-3">
        
        <img src="assets/image/bank.png" width="40px" class="img-l"><br>
    </a>
    <a routerLink="/how-to-stay-safe" class="m-3">

        <img src="assets/image/about.png" width="40px" class="img-l"><br>
    </a>
    <a routerLink="/state" class="m-3">

        <img src="assets/image/login.png" width="40px" class="img-l"><br>
    </a>


</div>
